.host-nav {
    display: flex;
}

.host-nav a {
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
    text-decoration: none;
}

.host-nav a:hover {
    color: #161616;
    font-weight: 600;
    text-decoration: underline;
}