.van-detail-container {
  max-width: 100%;
  padding: 27px;
}

.van-detail img {
  border-radius: 5px;
  max-width: 100%;
}

.van-detail-container .back-button {
  color: black;
  margin-left: -27px;
  text-decoration: none;
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  color: #161616;
  display: flex;
  flex-direction: column;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
  margin-left: 14px;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-size: 1.5rem;
  font-weight: 700;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
}
