.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  gap: 34px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  border-radius: 5px;
  max-width: 100%;
}

.van-list-container button {
  cursor: pointer;
  margin-right: 20px;
}

.van-type {
  background-color: #ffead0;
  border: none;
  border-radius: 5px;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  padding: 6px 26px;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: transparent;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  margin-left: -20px;
  padding: 6px 26px;
  text-decoration: underline;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}
