.van-list-container {
  padding-inline: 23px;
}

.van-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.van-list-filter-buttons a {
  text-decoration: none;
}

.van-list {
  display: grid;
  gap: 34px 0px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  border-radius: 5px;
  max-width: 80%;
  height: auto;
}

.van-list-container button {
  cursor: pointer;
  margin-right: 20px;
}

.van-type {
  border: none;
  border-radius: 5px;
  color: #ffead0;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  padding: 6px 26px;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #4d4d4d;
}

.van-type.simple {
  background-color: #e17654;
  color: #ffead0;
}

.van-type.rugged {
  background-color: #115e59;
  color: #ffead0;
}

.van-type.luxury {
  background-color: #161616;
  color: #ffead0;
}

.van-type.simple:hover, .van-type.rugged:hover, .van-type.luxury:hover {
  background-color: #ffead0;
  color: #4d4d4d;
}

.van-type.simple.selected, .van-type.rugged.selected, .van-type.luxury.selected {
  transform: scale(1.3);
}

.van-type.clear-filters {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: #4d4d4d;
  font-style: normal;
  font-weight: 500;
  height: 34px;
  margin-left: -20px;
  padding: 6px 26px;
  text-decoration: underline;
}

i[class*="van-type"] {
  padding: 7px 14px;
}
